version: '3.9'

services:
  db:
    image: postgres:15
    container_name: school_db
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    container_name: school_api
    restart: always
    env_file:
      - .env
    ports:
      - "${FASTAPI_PORT}:8000"
    depends_on:
      - db

volumes:
  postgres_data:
